mixin about-screen
    +b.about-bg
        +b.about.wrap
            +e.left
                +e.title-block
                    +e.P.title.text_blue.text_medium.text_title-big О клинике MyDerm
                    +b.del_left
                +e.desc-block
                    p С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке модели развития.
                    p Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    p Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. 
                +b.A.btn_default.btn_red.btn_big(href="#") Запись онлайн

            +e.right
                +e.img-block_first
                    img(src="./img/about-img.png", alt="alt")
                +e.img-block_second
                    img(src="./img/about-img.png", alt="alt")