include analysis-screen.pug
include whyChoice-screen.pug
include connection-screen.pug
include contacts-screen.pug

mixin analysis_page 
    +b.analysis-page
        +analysis-screen
        +whyChoice-screen
        +connection-screen
        +contacts-screen
    