mixin analysis-screen
    +b.analysis-bg
        +b.analysis.wrap
            +b.title-default
                +e.P.title.text_blue.text_medium.text_title-big Анализы
                +e.del_turquoise
            +b.analysis-block_first
                +b.analysis-list
                    +e.P.sub-title.text_gray._regular Наша лаборатория предлагает широкий спектр лабораторных исследований по следующим направлениям:
                    +e.item
                        +e.P.item-text.text_blue._regular Общеклинические (моча, кал, сперма, урогенитальные выделения)
                    +e.item
                        +e.P.item-text.text_blue._regular Общеклинические (моча, кал, сперма, урогенитальные выделения)
                +b.analysis-img-block
                    img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg", alt="alt")
            +b.analysis-block_second
                +b.analysis-img-block
                    img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg", alt="alt")
                +b.analysis-list
                    +e.item
                        +e.P.item-text.text_blue._regular Общеклинические (моча, кал, сперма, урогенитальные выделения)
                    +e.item
                        +e.P.item-text.text_blue._regular Общеклинические (моча, кал, сперма, урогенитальные выделения)
            +b.go-price-block
                +e.text
                    +e.P.title.text_title-medium._blue._medium Стоимость анализов
                    +e.P.sub-title.text_regular._blue._medium С прайсом лаборатории Вы можете ознакомиться перейдя по ссылке ниже
                    +e.P.desc Для забора крови мы используем исключительно одноразовые вакуумные системы, исключает инфицирование как пациента, так и медицинского персонала лаборатории.
                    +b.A.btn_default.btn_white.btn_big(href="#") Прайс лаборатории
                +e.img-block
                    img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg", alt="alt")
            +b.A.btn_default._red._big.btn-lines_red._center(href="#") Запись онлайн
                
