mixin contacts-screen
    +b.contacts-bg
        +b.contacts.wrap
            +b.title-default
                +e.P.title.text_blue.text_medium.text_title-big Как нас найти
                +e.del_white
            +b.contacts-card_first
                +e.left
                    +e.P.title.text_blue.text_title-medium.text_medium Центр на Левом берегу
                    +b.del_plain
                    +e.scheduling.contacts-item
                        p.text_blue.text_regular Пн-Сб: 08:00-20:00
                        p.text_blue.text_regular Вс: Выходной
                    +b.del_plain
                    +e.phones.contacts-item
                        a.text_blue.text_regular +38 (067) 410 44 55
                        a.text_blue.text_regular +38 (063) 201 44 55
                    +b.del_plain
                    +e.mail.contacts-item
                        a.text_blue.text_regular mcenter.ml@gmail.com
                    +b.del_plain
                    +e.address.contacts-item
                        p.text_blue.text_regular ул. Братиславская, 14-Б (м. Черниговская) Украина, г. Киев
                +e.right
                    +e.map
                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d825357.3735790536!2d-113.40361247408127!3d36.09221455154305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x873312ae759b4d15%3A0x1f38a9bec9912029!2z0J3QsNGG0LjQvtC90LDQu9GM0L3Ri9C5INC_0LDRgNC6INCT0YDQsNC90LQg0JrQsNC90YzQvtC9!5e0!3m2!1sru!2sua!4v1610680876250!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
            +b.contacts-card_second
                +e.left
                    +e.P.title.text_blue.text_title-medium.text_medium Центр на Левом берегу
                    +b.del_plain
                    +e.scheduling.contacts-item
                        p.text_blue.text_regular Пн-Сб: 08:00-20:00
                        p.text_blue.text_regular Вс: Выходной
                    +b.del_plain
                    +e.phones.contacts-item
                        a.text_blue.text_regular +38 (067) 410 44 55
                        a.text_blue.text_regular +38 (063) 201 44 55
                    +b.del_plain
                    +e.mail.contacts-item
                        a.text_blue.text_regular mcenter.ml@gmail.com
                    +b.del_plain
                    +e.address.contacts-item
                        p.text_blue.text_regular ул. Братиславская, 14-Б (м. Черниговская) Украина, г. Киев
                +e.right
                    +e.map
                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d825357.3735790536!2d-113.40361247408127!3d36.09221455154305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x873312ae759b4d15%3A0x1f38a9bec9912029!2z0J3QsNGG0LjQvtC90LDQu9GM0L3Ri9C5INC_0LDRgNC6INCT0YDQsNC90LQg0JrQsNC90YzQvtC9!5e0!3m2!1sru!2sua!4v1610680876250!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
