mixin destinations-item
    +b.destinations-item
        +e.img-block
            img(src="./img/mole.png", alt="alt")
        +e.title-block
            +e.P.title.text_blue.text_medium.text_title Карта родинок
            +e.A.show(href='#')
