include ./main-screen.pug
include ./popularDest-screen.pug
include ./whyChoice-screen.pug
include ./specialists-screen.pug
include ./about-screen.pug
include ./news-screen.pug
include ./reviews-screen.pug
include ./contacts-screen.pug



mixin home_page
	+b.home_page
		+main-screen
		+popularDest-screen
		+whyChoice-screen
		+specialists-screen
		+about-screen
		+news-screen
		+reviews-screen
		+contacts-screen

	
			

			
			