mixin news-item
    +b.news-item
        +e.img-block
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjaEry2x7WJs8zWGwtcaAZ6ILmmbfvlW2iZQ&usqp=CAU", alt="") 
        +e.text
            +e.P.title.text_blue.text_medium.text_title MOVEO – технология гарантированного комфорта                
            +e.P.desc.text_gray.text_regular Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации... 
            +e.footer
                +e.P.date 20 Окт 2020
                +e.A.more Подробнее
