mixin price-screen
    +b.price-screen-bg
        +b.price-screen.wrap
            +b.title-default
                +e.P.title.text_blue.text_medium.text_title-big Стоимость услуг 
                +e.del_turquoise
            +b.price-table.text_blue
                +e.item
                    +e.line_head
                        +e.P.title.line.text_title.text_medium Консультации специалистов
                    +e.line_first.name-service.text_average
                        p.text_medium Название услуги
                        p.text_medium Цена, ₴
                    +e.line.text_regular
                        p Патч-тесты Европейская баз.скрининг серия (3 пл. Ultra с ТОП-30 гаптенами)
                        p.text_medium 2 800,00
                    +e.line.text_regular
                        p Патч-тесты Европейская баз.скрининг серия (3 пл. Ultra с ТОП-30 гаптенами)
                        p.text_medium 2 800,00
                +e.item
                    +e.line_head
                        +e.P.title.line.text_title.text_medium Консультации специалистов
                    +e.line_first.name-service.text_average
                        p.text_medium Название услуги
                        p.text_medium Цена, ₴
                    +e.line.text_regular
                        p Патч-тесты Европейская баз.скрининг серия (3 пл. Ultra с ТОП-30 гаптенами)
                        p.text_medium 2 800,00
                    +e.line.text_regular
                        p Патч-тесты Европейская баз.скрининг серия (3 пл. Ultra с ТОП-30 гаптенами)
                        p.text_medium 2 800,00
            +b.A.btn_default._red._big.btn-lines_red._center(href="#") Запись онлайн
            +b.price-screen-mark.text_gray._regular
                p * Цены действуют с 10.02.2020 г.
                p * Приведенный выше прайс-лист является неполным и представлен для общего ознакомления с ценами клиники. С полной стоимостью можно     ознакомиться в клинике или по тел.: 067 410 44 55; 063 201 44 55
                    

