include ./price-screen.pug
include ./whyChoice-screen.pug
include ./connection-screen.pug
include ./contacts-screen.pug



mixin price_page
    +b.price_page
        +price-screen
        +whyChoice-screen
        +connection-screen
        +contacts-screen
            