mixin reviews-item
    +b.reviews-item
        +e.header
            +e.avatar
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjaEry2x7WJs8zWGwtcaAZ6ILmmbfvlW2iZQ&usqp=CAU", alt="alt")
            +e.title-block
                +e.P.name.text_blue.text_regular Виктория Иванова
                +e.stars
                    img(src="./img/star.png", alt="alt") 
                    img(src="./img/star.png", alt="alt") 
                    img(src="./img/star.png", alt="alt") 
        +e.P.desc.text_gray.text_small В этой клинике лечилась у подолога Славинской Лилии. Осталась довольна , хороший специалист. Клиникой тоже довольна, чисто, вежливые работники. Все вылечили, спасибо))
        +e.footer
            +e.P.date 11 months ago
            +e.A.more Полный отзыв