include ./destinations-item.pug


mixin services-destinations
    +b.services-destinations-bg
        +b.services-destinations.wrap
            +b.title-default
                +e.P.title.text_blue.text_medium.text_title-big Направления 
                +e.del_turquoise
            +b.services-destinations-list
                +destinations-item
                +destinations-item
                +destinations-item
                +destinations-item
                +destinations-item
                +destinations-item  
                +destinations-item  
                +destinations-item  
                +destinations-item  
                +destinations-item  