include single-news-screen.pug
include connection-screen.pug
include contacts-screen.pug

mixin single-news_page
    +b.news-page
        +single-news-screen
        +connection-screen
        +contacts-screen
    


