mixin single-news-screen
    +b.single-news-bg
        +b.single-news.wrap 
            +b.title-default
                +e.P.title.text_blue.text_medium.text_title-big MOVEO – технология гарантированного комфорта
                +e.del_turquoise
            +b.single-news-wrap
                img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg", alt="alt").single-news-main-img
                +e.content
                    p.title MOVEO: эпиляция без противопоказаний
                    p.text В данной статье, мы хотим рассказать про лазерную эпиляцию по технологии Moveo детальней. Но сначала затронем всеобщие факты.
                    p.text Еще раз стоит вспомнить о том, что всё-таки данный вид процедуры не является полностью беспроблемным.
                    p.text В первую очередь нужно сказать, что любое тепловое воздействие на кожу, не является полностью беспроблемным, включая особенно направленное               воздействие лазером.
                    p.text Лазерные эпиляторы, существующие сейчас, могут приводить к возникновению временных побочных эффектов, а также возникновению болезненных ощущений. Из-за чего пациенты иногда не хотят продолжать процедуру.
                    img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg", alt="alt")
                    p.text Для того, чтобы фолликул вашего волоса выпал, на него воздействует фокусированный лазерный импульс высокой мощности. Такое воздействие часто ведет за собой болезненные ощущения.
                    p.text Фактически, если вспомнить физические основы взаимодействия светотеплового излучения с поверхностными тканям – на ум приходит коэффициент прямого                   отражения. Данный коэффициент тесно связан со свойствами отражения кожи. Благодаря ему в процессе эпиляции, лазерный луч теряет значительное                количество энергии импульса. 
                    p.text Этот эффект является следствием существенных различий между коэффициентом отражения воздуха (через который лазерный луч должен проходить перед тем,                     как достигнуть кожи) и коэффициентом отражения самой кожи. Известный факт, – преимущественный хромофор для александритового излучения, -меланин,                    который содержится в меланосомах, меланоцитах. 
                    p.text График, представленный на рисунке ниже, демонстрирует коэффициент отражения кожи, в ответ на воздействие излучения лазера при разном содержания                     меланина. При длине волны 755 нм (длина волны александритового лазера) и содержании меланина на уровне 8% (согласно фототипу II) процент отражения                  составляет больше 50%. Это означает, что значительная часть энергии теряется в ходе выполнения процедуры и, следовательно, не может использоваться                  для терапевтических целей. 
                    p.text Такая потеря вызвана высокой изменчивостью между коэффициентом отражения кожи и воздуха, который располагается сверху.
                    img(src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg", alt="alt" width="400")
                    .date 20 Окт 2020