include ./specialists-item.pug


mixin specialists-list-screen
    +b.specialists-list-bg
        +b.specialists-list.wrap
            +b.title-default
                +e.P.title.text_blue.text_medium.text_title-big Специалисты 
                +e.del_turquoise
            +b.specialists-list-content 
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item
                +specialists-item