mixin specialists-item
    +b.specialists-item 
        +e.gradient
        +b.A.btn_default.btn_red.btn_big.about-doc(href="#") О враче 
        +e.img-block
            img(src="./img/main-doc.png", alt="alt")
        +e.text
            +e.P.title.text_blue.text_medium.text_title Лага Наталия Петровна
            +e.P.desc.text_dark-blue.text_small-extra Главный врач, дерматовенеролог, дерматоонколог 