mixin whyChoice-screen
    +b.whyChoice-bg
        +b.whyChoice.wrap
            +e.left
                +b.img-block
                    img(src="./img/doctor-choice.png", alt="alt")
            +e.right
                +e.P.title.text_blue.text_medium.text_title-big Почему выбирают MyDerm
                +b.del_left
                +b.whyChoice-list
                    +e.item
                        +e.img-block
                            img(src="./img/doctor-icon.svg", alt="alt")
                        +e.text
                            +e.P.title.text_blue.text_medium.text_title Высококвалифицированные специалисты
                            +e.P.desc.text_gray.text_regular Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет
                    +e.item
                        +e.img-block
                            img(src="./img/doctor-icon.svg", alt="alt")
                        +e.text
                            +e.P.title.text_blue.text_medium.text_title Высококвалифицированные специалисты
                            +e.P.desc.text_gray.text_regular Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет
                    +e.item
                        +e.img-block
                            img(src="./img/doctor-icon.svg", alt="alt")
                        +e.text
                            +e.P.title.text_blue.text_medium.text_title Высококвалифицированные специалисты
                            +e.P.desc.text_gray.text_regular Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет
